<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>YouTube <%= title %> Downloader</title>
		<link rel="stylesheet" href="./styles.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<h1 class="navbar-brand my-0">Youtube Downloader</h1>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<nav class="navbar-nav">
						<a
							href="/video"
							aria-current="page"
							class="nav-link <%= title === 'Video' ? 'active' : '' %>"
							>Video</a
						>
						<a
							href="/audio"
							class="nav-link <%= title === 'Audio' ? 'active' : '' %>"
							>Audio</a
						>
						<a
							href="/video-pl"
							class="nav-link <%= title === 'Video Playlist' ? 'active' : '' %>"
							>Video Playlist</a
						>
						<a
							href="/audio-pl"
							class="nav-link <%= title === 'Audio Playlist' ? 'active' : '' %>"
							>Audio Playlist</a
						>
					</nav>
				</div>
			</div>
		</nav>
		<article id="app" class="container mt-5">
			<h1 class="title">YouTube <%= title %> Downloader</h1>
			<div class="input-group my-3">
				<span class="input-group-text" id="addon-wrapping"> Link </span>
				<input
					v-model="url"
					class="form-control input-url"
					placeholder="e.g. https://www.youtube.com/watch?v=nM0xDI5R50E"
				/>
			</div>

			<button
				class="btn btn-primary btn-convert"
				:disabled="!convert_spinner_class"
				@click="convert_filter('<%= title %>')"
			>
				<span
					:class="'spinner-border spinner-border-sm ' + convert_spinner_class"
					role="status"
					aria-hidden="true"
				></span>
				Convert
			</button>

			<button
				v-if="files.length > 0"
				class="btn btn-success btn-convert mt-2"
				:disabled="!zip_spinner_class"
				@click="download_all('<%= format %>')"
			>
				<span
					:class="'spinner-border spinner-border-sm ' + zip_spinner_class"
					role="status"
					aria-hidden="true"
				></span>
				Download ZIP of all <%= format == "audioonly" ? "WEBM" : "MP4" %> files
			</button>

			<section v-for="(file, i) in files" class="mt-3 p-3 bg-light">
				<img class="w-100" :src="file.thumbnail" alt="" />
				<div class="input-group my-3">
					<span class="input-group-text" id="addon-wrapping">
						Filename
					</span>
					<input
						v-model="files[i].name"
						class="form-control input-name"
					/>
				</div>
				<button
					class="btn btn-success"
					:disabled="!files[i].spinner_class"
					@click="download_one(i, '<%= format %>')"
				>
					<span
						:class="'spinner-border spinner-border-sm ' + files[i].spinner_class"
						role="status"
						aria-hidden="true"
					></span>
					Download MP<%= format == "audioonly" ? "3" : "4" %> file
				</button>
				<button class="btn btn-danger" @click="remove_one(i)">
					Remove
				</button>
			</section>

			<div class="position-fixed bottom-0 start-0 p-3" style="z-index: 5">
				<div
					class="toast hide toast-clipboard"
					role="alert"
					aria-live="assertive"
					aria-atomic="true"
				>
					<div class="toast-header">
						<strong class="me-auto">Clipboard notice</strong>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="toast"
							aria-label="Close"
						></button>
					</div>
					<div class="toast-body">
						We copied the most recent text from your clipboard to
						the URL bar!
						<span class="undo-clipboard" @click="undo_clipboard()"
							>Click here to undo</span
						>
					</div>
				</div>
			</div>

			<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
				<div
					class="toast hide toast-error"
					role="alert"
					aria-live="assertive"
					aria-atomic="true"
				>
					<div class="toast-header">
						<strong class="me-auto text-danger">Error</strong>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="toast"
							aria-label="Close"
						></button>
					</div>
					<div class="toast-body">
						{{ error_message }}
					</div>
				</div>
			</div>
		</article>
		<script src="./script.js"></script>
	</body>
</html>
